body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* Header section styling */
.header {
    display: flex;
    background-color: #1F2937;
    padding: 0px 196px;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    font-size: 24px;
}

.header h3 {
    margin: 16px 16px 16px 0px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

a:hover {
    color: #3382F6;
    transition: all 0.3s ease 0s;
}


/* Top section styling */
.top {
    display: flex;
    background-color: #1F2937;
    padding: 48px 196px 64px 196px;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
}

.title-info {
    flex: 0 1 auto;
    width: 800px;
    margin-right: 48px;
}

.title-info h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}

.title-info p {
    font-size: 18px;
    color: #E5E7EB;
}

.title-info button {
    background-color: #3382F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
}

.title-info button:hover {
    background-color: #2b6bcc;
    transition: all 0.3s ease 0s;
}

.main-image img {
    height: auto;
    width: 100%;
    max-width: 700px;
    min-width: 400px;
    background-color: rgb(118, 120, 129);
    border-radius: 8px;
    box-shadow: 12px 12px 32px rgba(0, 0, 0, 0.5)
}


/* Middle-1 section styling */
.middle-1 {
    flex-direction: column;
    padding: 32px 292px 96px 292px;
}

.middle-1 h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    margin: 0px 0px 32px 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}

.container img {
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    height: 300px;
    width: 300px;
}

.container p {
    width: 300px;
}
